// Taken from https://gist.github.com/koenpunt/6424137.
select.form-control + .chosen-container.chosen-container-single .chosen-single {
  display: block;
  width: 100%;
  height: 34px;
  border: 1px solid $input-border;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  background-color: $input-bg;
  background-image: none;
  padding: 6px 12px;
  line-height: 1.428571429;
  vertical-align: middle;
  color: $input-color;
  font-size: $font-size-base;
}

select.form-control + .chosen-container.chosen-container-single .chosen-single div {
  top: 4px;
  color: $input-color;
}

select.form-control + .chosen-container .chosen-drop {
  margin: 2px 0 0;
  border: 1px solid $input-border;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-color: $input-bg;
  background-clip: padding-box;
}

select.form-control + .chosen-container .chosen-search input[type=text] {
  display: block;
  width: 100%;
  height: 34px;
  border: 1px solid $input-border;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  background-color: $input-bg;
  background-image: none;
  padding: 6px 12px;
  line-height: 1.428571429;
  vertical-align: middle;
  color: $input-color;
  font-size: $font-size-base;
}

select.form-control + .chosen-container .chosen-results {
  list-style: none;
  margin: 2px 0 5px;
  background-color: $input-bg;
  padding: 5px 0;
  font-size: $font-size-base;
}

select.form-control + .chosen-container .chosen-results li,
select.form-control + .chosen-container .chosen-results li.active-result {
  display: block;
  clear: both;
  background-image: none;
  padding: 3px 20px;
  line-height: 1.428571429;
  white-space: nowrap;
  color: darken($input-color, 15%);
  font-weight: normal;
}

select.form-control + .chosen-container .chosen-results li:hover,
select.form-control + .chosen-container .chosen-results li.active-result:hover,
select.form-control + .chosen-container .chosen-results li.highlighted {
  background-color: $component-active-bg;
  background-image: none;
  color: $component-active-color;
  text-decoration: none;
}

select.form-control + .chosen-container-multi .chosen-choices {
  display: block;
  width: 100%;
  min-height: 34px;
  border: 1px solid $input-border;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  background-color: $input-bg;
  background-image: none;
  padding: 6px;
  line-height: 1.428571429;
  vertical-align: middle;
  color: $input-color;
  font-size: $font-size-base;
}

select.form-control + .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  height: auto;
  padding: 5px 0;
}

select.form-control + .chosen-container-multi .chosen-choices li.search-choice {
  background-image: none;
  margin: 0 6px 0 0;
  border: 1px solid $input-border;
  border-radius: 4px;
  background-color: $input-bg;
  padding: 3px 24px 3px 5px;
  white-space: nowrap;
  line-height: 1.428571429;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  color: $input-color;
  font-size: $font-size-base;
  font-weight: normal;
}

select.form-control + .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  top: 8px;
  right: 6px;
}

select.form-control + .chosen-container-multi.chosen-container-active .chosen-choices,
select.form-control + .chosen-container.chosen-container-single.chosen-container-active .chosen-single,
select.form-control + .chosen-container .chosen-search input[type=text]:focus {
  outline: 0;
  border-color: $input-border-focus;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
}

select.form-control + .chosen-container-multi .chosen-results li.result-selected {
  display: list-item;
  cursor: default;
  background-color: $input-bg;
  color: $input-color;
}
