@import "_chosen-bootstrap.scss";

// Taken from this issue:
// https://www.drupal.org/project/bootstrap/issues/2133549#comment-8672011
.chosen-container {
  border: 0 !important;
  padding: 0 !important;
  height: auto !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
