/**
 * Node styling.
 */

.node-preview-container {
  margin-top: -($grid-gutter-width / 2);
}

.node-preview-form-select {
  padding: ($grid-gutter-width / 2);
}

.node-page-title {
  margin-bottom: $grid-gutter-width;
}

.page-node-type-page .field--name-field-imagen {
  margin-bottom: 2em;
}
