//Variables de colores
$primary-color: #e52f72; // rosa
$secundary-color: #958aae; // violeta
$tertiary-color: #232f5d; // azul oscuro
$quaternary-color: #e6e6e6; // gris oscuro
$quinary-color:  #f8f8f8; // gris claro
$sextary-color:  #1e819b; // azul claro
$septimary-color:  #156d83; // azul medio
$octavary-color:  #e6e6e6; // gris medio

//Variables de tipografias
$primary-typography: 'bison';
$secundary-typography: 'charlevoixbold';
$tertiary-typography: 'charlevoix';
