/**
 * Default Variables.
 *
 * Modify this file to provide default Bootstrap Framework variables. The
 * Bootstrap Framework will not override any variables defined here because it
 * uses the `!default` flag which will only set their default if not already
 * defined here.
 *
 * You can copy existing variables directly from the following file:
 * ./insituto/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
select.form-control + .chosen-container.chosen-container-single .chosen-single {
  display: block;
  width: 100%;
  height: 34px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  background-color: #fff;
  background-image: none;
  padding: 6px 12px;
  line-height: 1.428571429;
  vertical-align: middle;
  color: #555555;
  font-size: 14px; }

select.form-control + .chosen-container.chosen-container-single .chosen-single div {
  top: 4px;
  color: #555555; }

select.form-control + .chosen-container .chosen-drop {
  margin: 2px 0 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-color: #fff;
  background-clip: padding-box; }

select.form-control + .chosen-container .chosen-search input[type=text] {
  display: block;
  width: 100%;
  height: 34px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  background-color: #fff;
  background-image: none;
  padding: 6px 12px;
  line-height: 1.428571429;
  vertical-align: middle;
  color: #555555;
  font-size: 14px; }

select.form-control + .chosen-container .chosen-results {
  list-style: none;
  margin: 2px 0 5px;
  background-color: #fff;
  padding: 5px 0;
  font-size: 14px; }

select.form-control + .chosen-container .chosen-results li,
select.form-control + .chosen-container .chosen-results li.active-result {
  display: block;
  clear: both;
  background-image: none;
  padding: 3px 20px;
  line-height: 1.428571429;
  white-space: nowrap;
  color: #2f2f2f;
  font-weight: normal; }

select.form-control + .chosen-container .chosen-results li:hover,
select.form-control + .chosen-container .chosen-results li.active-result:hover,
select.form-control + .chosen-container .chosen-results li.highlighted {
  background-color: #21376E;
  background-image: none;
  color: #fff;
  text-decoration: none; }

select.form-control + .chosen-container-multi .chosen-choices {
  display: block;
  width: 100%;
  min-height: 34px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  background-color: #fff;
  background-image: none;
  padding: 6px;
  line-height: 1.428571429;
  vertical-align: middle;
  color: #555555;
  font-size: 14px; }

select.form-control + .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  height: auto;
  padding: 5px 0; }

select.form-control + .chosen-container-multi .chosen-choices li.search-choice {
  background-image: none;
  margin: 0 6px 0 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  padding: 3px 24px 3px 5px;
  white-space: nowrap;
  line-height: 1.428571429;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  color: #555555;
  font-size: 14px;
  font-weight: normal; }

select.form-control + .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  top: 8px;
  right: 6px; }

select.form-control + .chosen-container-multi.chosen-container-active .chosen-choices,
select.form-control + .chosen-container.chosen-container-single.chosen-container-active .chosen-single,
select.form-control + .chosen-container .chosen-search input[type=text]:focus {
  outline: 0;
  border-color: #66afe9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }

select.form-control + .chosen-container-multi .chosen-results li.result-selected {
  display: list-item;
  cursor: default;
  background-color: #fff;
  color: #555555; }

.chosen-container {
  border: 0 !important;
  padding: 0 !important;
  height: auto !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important; }

/*# sourceMappingURL=style.css.map */