/**
 * Default Variables.
 *
 * Modify this file to provide default Bootstrap Framework variables. The
 * Bootstrap Framework will not override any variables defined here because it
 * uses the `!default` flag which will only set their default if not already
 * defined here.
 *
 * You can copy existing variables directly from the following file:
 * ./insituto/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */

// We use 12 columns without gutter.
$grid-columns: 12;
$grid-gutter-width: 30px;

$icon-font-path: "fonts/";

$font-size-base: 14px;
$text-color: #16264D;

$brand-primary: #21376E;

$screen-xs-min: 550px;
$screen-sm-min: 1024px;
$screen-md-min: 1220px;
$screen-lg-min: 1400px;
